.composition {
	position: relative;
	height: 90vw;
	margin: 3rem 0;

	@include responsive(small-phone) {
		height: 95vw;
	}

	@include responsive(tab-port) {
		height: 52.5vw;
	}

	@include responsive(tab-land) {
		height: 40vw;
		margin: 0;
	}

	@include responsive(desktop) {
		height: 35vw;
	}

	@include responsive(big-desktop) {
		height: 30vw;
	}

	&__photo {
		width: 55%;

		@include responsive(tab-port) {
			width: 35%;
		}

		@include responsive(tab-land) {
			width: 40%;
		}

		@include responsive(desktop) {
			width: 35%;
		}

		box-shadow: var(--box-shadow-medium);
		border-radius: 0.2rem;
		position: absolute;
		z-index: 10;
		transition: all 0.2s;

		&--p1 {
			left: 0;
			top: 0;

			@include responsive(tab-port) {
				left: 11rem;
			}
			@include responsive(tab-land) {
				left: 7rem;
			}

			@include responsive(desktop) {
				left: 12rem;
			}
		}

		&--p2 {
			right: 0;
			top: 6rem;

			@include responsive(tab-port) {
				right: 11rem;
			}
			@include responsive(tab-land) {
				right: 7rem;
			}

			@include responsive(desktop) {
				right: 12rem;
				top: 10%;
			}
		}

		&--p3 {
			left: 20%;
			top: 12rem;

			@include responsive(tab-port) {
				left: 30%;
				top: 20%;
			}
		}

		&:hover {
			transform: scale(1.05) translateY(-0.5rem);
			box-shadow: var(--box-shadow-big);
			z-index: 20;
		}
	}
}
