.composition {
	display: grid;
	position: relative;
	grid-template-columns: repeat(12, 1fr);
	padding: 2rem 0;
	@include responsive(tab-port) {
		padding: 0 0 0 10rem;
	}

	@include responsive(tab-land) {
		padding: 0 0 2rem 16rem;
	}

	@include responsive(desktop) {
		padding: 0 0 4rem 20rem;
	}

	&__item {
		position: relative;
		transition: all 0.4s;
		grid-row: 1;

		& > img {
			box-shadow: var(--box-shadow-small);
		}

		&--1 {
			grid-column: 7 / 13;
			margin-top: 20%;
		}

		&--2 {
			grid-column: 1 / 8;
		}
		&--3 {
			grid-column: 4 / 11;
			margin-top: 40%;
		}

		&:hover {
			z-index: 40;
			& > img {
				box-shadow: var(--box-shadow-medium);
				transform: scale(1.05);
			}
		}
	}

	& img {
		width: 100%;
		display: block;
	}
}
