.hero {
	// Base style for hero

	user-select: none;
	transform: var(--default-skew);
	transform-origin: left top;
	position: relative;
	overflow: hidden;
	min-height: 40vh;

	&::before {
		// Sets background definitions. Background is defined on the modifiers
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		background-size: cover;
		background-position: center;
		transform: var(--default-unskew);
		transform-origin: left top;
	}

	&__container {
		position: absolute;
		height: 100%;
		width: 100%;
		transform-origin: left top;
		transform: var(--default-unskew);
		color: var(--color-white);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__img {
		width: 8rem;

		@include responsive(tab-port) {
			margin-top: -2rem;
			width: 6rem;
		}

		@include responsive(tab-land) {
			width: 8rem;
			margin-top: 0;
		}
	}

	&__title {
		margin-top: 2rem;
		color: var(--color-white);
		font-size: 4.8rem;
		margin-bottom: 5vh;
	}

	// Modifiers
	&--home {
		min-height: 70vh;

		@include responsive(tab-port) {
			min-height: 60vh;
		}

		&::before {
			background-image: linear-gradient(
					to left bottom,
					rgba(var(--color-primary-light-rgb), 0.6),
					rgba(var(--color-primary-rgb), 0.6)
				),
				url("../img/pagina-inicial/fundo-mobile.jpg");
			@include responsive(tab-port) {
				background-image: linear-gradient(
						to left bottom,
						rgba(var(--color-primary-light-rgb), 0.6),
						rgba(var(--color-primary-rgb), 0.6)
					),
					url("../img/pagina-inicial/fundo.jpg");
			}
		}

		.hero__title {
			font-size: 3.2rem;
		}
	}

	&--clipes {
		&::before {
			background-image: linear-gradient(
					to left bottom,
					rgba(var(--color-primary-light-rgb), 0.6),
					rgba(var(--color-primary-rgb), 0.6)
				),
				url("../img/clipes/fundo-mobile.jpg");

			@include responsive(tab-port) {
				background-image: linear-gradient(
						to left bottom,
						rgba(var(--color-primary-light-rgb), 0.6),
						rgba(var(--color-primary-rgb), 0.6)
					),
					url("../img/clipes/fundo.jpg");
			}
		}
	}

	&--sobre {
		&::before {
			background-image: linear-gradient(
					to left bottom,
					rgba(var(--color-primary-light-rgb), 0.6),
					rgba(var(--color-primary-rgb), 0.6)
				),
				url("../img/sobre/fundo-mobile.jpg");

			@include responsive(tab-port) {
				background-image: linear-gradient(
						to left bottom,
						rgba(var(--color-primary-light-rgb), 0.6),
						rgba(var(--color-primary-rgb), 0.6)
					),
					url("../img/sobre/fundo.jpg");
			}
		}
	}

	&--products {
		&::before {
			background-image: linear-gradient(
					to left bottom,
					rgba(var(--color-primary-light-rgb), 0.6),
					rgba(var(--color-primary-rgb), 0.6)
				),
				url("../img/fotos-de-produtos/fundo-mobile.jpg");

			@include responsive(tab-port) {
				background-image: linear-gradient(
						to left bottom,
						rgba(var(--color-primary-light-rgb), 0.6),
						rgba(var(--color-primary-rgb), 0.6)
					),
					url("../img/fotos-de-produtos/fundo.jpg");
			}
		}
	}

	&--albums {
		&::before {
			background-image: linear-gradient(
					to left bottom,
					rgba(var(--color-primary-light-rgb), 0.6),
					rgba(var(--color-primary-rgb), 0.6)
				),
				url("../img/albuns/fundo-mobile.jpg");

			@include responsive(tab-port) {
				background-image: linear-gradient(
						to left bottom,
						rgba(var(--color-primary-light-rgb), 0.6),
						rgba(var(--color-primary-rgb), 0.6)
					),
					url("../img/albuns/fundo.jpg");
			}
		}
	}

	&--partners {
		&::before {
			background-image: linear-gradient(
					to left bottom,
					rgba(var(--color-primary-light-rgb), 0.6),
					rgba(var(--color-primary-rgb), 0.6)
				),
				url("../img/parceiros/fundo-mobile.jpg");

			@include responsive(tab-port) {
				background-image: linear-gradient(
						to left bottom,
						rgba(var(--color-primary-light-rgb), 0.6),
						rgba(var(--color-primary-rgb), 0.6)
					),
					url("../img/parceiros/fundo.jpg");
			}
		}
	}
}
