.testimony {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 2rem 0;
	align-items: center;
	justify-content: center;

	&__user-img {
		min-width: 6rem;
		height: 6rem;
		border-radius: 50%;
		border: 0.2rem solid var(--color-white);
		object-fit: cover;
		object-position: center;
	}

	&__user-box {
		padding: 0 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__user-name {
		font-size: 2.4rem;
		margin-left: 2rem;
		font-weight: 700;
		color: var(--color-white);
	}

	&__text {
		font-size: 1.6rem;
		padding: 0 2rem;
		text-align: center;
		color: var(--color-white);
	}

	&:not(:last-child) {
		&::before {
			content: "";
			position: absolute;
			background-color: var(--color-white);
			width: 90%;
			height: 0.1rem;
			bottom: 0;
			left: 5%;
		}
	}

	@include responsive(tab-land) {
		&:not(:last-child) {
			&::before {
				width: 0;
				height: 0;
			}
		}

		&:nth-child(even) {
			&::after {
				content: "";
				position: absolute;
				background-color: var(--color-white);
				height: 90%;
				width: 0.1rem;
				right: 0;
				bottom: 5%;
			}
		}

		&:not(:nth-last-of-type(-n + 2)) {
			&::before {
				width: 90%;
				height: 0.1rem;
			}
		}
	}
}
