<footer class="footer {theme}">
	<div class="footer__box">
		<img src="{root_path}assets/img/icons/logo.png" alt="Footer logo" class="footer__logo" />
		<ul class="footer__list">
			<li class="footer__list-item">
				Instagram:
				<a class="link" rel="noreferrer" href="https://www.instagram.com/mrtproducoes/" target="_blank">@mrtproducoes</a>
			</li>
			<li class="footer__list-item">
				WhatsApp:
				<a class="link" rel="noreferrer" href="https://api.whatsapp.com/send?phone=5547984948948" target="_blank">(47)
					98494-8948</a>
			</li>
		</ul>
	</div>
	<h4 class="copyright">&copy; MRT - CNPJ: 34.412.374/0001-36</h4>
</footer>