<div class="navigation">
    
    <!-- Toogle -->
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>

    <nav class="navigation__nav"  id="navigation" style="visibility: hidden;">
        <ul class="navigation__list">
            <li class="navigation__logo">
                <img src="{root_path}assets/img/icons/logo.png" alt="" class="navigation__logo-img">
                <h4 class="navigation__logo-title u-display-font">MRT Produções</h4>
            </li>
            <li class="navigation__line">&nbsp;</li>
            <li class="navigation__item u-display-font {1}"><a href="{root_path}" class="navigation__link">Página Inicial</a></li>
            <li class="navigation__item u-display-font {2}"><a href="{root_path}albuns" class="navigation__link">Álbuns</a></li>
            <li class="navigation__item u-display-font {3}"><a href="{root_path}clipes" class="navigation__link">Clipes</a></li>
            <li class="navigation__item u-display-font {4}"><a href="{root_path}fotos-de-produtos" class="navigation__link">Fotos de produtos</a></li>
            <li class="navigation__item u-display-font {5}"><a href="{root_path}sobre" class="navigation__link">Sobre</a></li>
        </ul>
    </nav>
</div>