@function hexToRGB($hex) {
	@return red($hex), green($hex), blue($hex);
}

$color-primary: #5a3473;
$color-primary-light: #8758a6;
$color-primary-dark: #4b2b61;
$color-secondary: #04d9d9;
$color-grey: #403c3d;
$color-white: #f2f2f2;

:root {
	// COLORS
	--color-primary: #{$color-primary}; // Use var(--color-primary) to apply this color
	--color-primary-rgb: #{hexToRGB($color-primary)};
	--color-primary-light: #{$color-primary-light};
	--color-primary-light-rgb: #{hexToRGB($color-primary-light)};
	--color-primary-dark: #{$color-primary-dark};
	--color-primary-dark-rgb: #{hexToRGB($color-primary-dark)};
	--color-secondary: #{$color-secondary};
	--color-grey: #{$color-grey};
	--color-black-rgb: #{hexToRGB($color-grey)};
	--color-white: #{$color-white};
	--color-white-rgb: #{hexToRGB($color-white)};

	// FONT
	--font-default: "Nunito Sans", sans-serif;
	--font-display: "grandma", cursive;
	--font-size-default: 1.6rem;

	// BOX SHADOW
	--box-shadow-medium: 0 1.5rem 4rem rgba(var(--color-black-rgb), 0.4);
	--box-shadow-big: 0 2rem 4rem rgba(var(--color-black-rgb), 0.4);
	--box-shadow-small: 0 1rem 2rem rgba(var(--color-black-rgb), 0.3);

	// SKEW
	--default-skew: skewY(-7deg);
	--default-unskew: skewY(7deg);

	// GRID
	--default-grid-col: [full-start] minmax(4rem, 1fr) [center-start]
		repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]
		minmax(4rem, 1fr) [full-end];

	@include responsive(tab-port) {
		--default-skew: skewY(-5deg);
		--default-unskew: skewY(5deg);
		--default-grid-col: [full-start] minmax(12rem, 1fr) [center-start]
			repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]
			minmax(12rem, 1fr) [full-end];
	}

	@include responsive(desktop) {
		--default-skew: skewY(-3deg);
		--default-unskew: skewY(3deg);
	}
}
