.footer {
    margin-top: -10vh;
    color: var(--color-primary);
    padding: 0 3rem;
    padding-top: 10vh;

    &__box {
        padding-top: 2rem;
        align-items: center;
        display: flex;
    }

    &__logo {
        height: 6rem;
    }

    &__list {
        margin-left: auto;
        color: currentColor;
        list-style: none;
        text-align: right;
        font-size: 1.8rem;
    }
}

.copyright {
    padding: 2rem 0;
    text-align: center;
    font-weight: 400;
}