.products {
	grid-template-rows: 40vh min-content;

	& .gallery {
		margin-top: 1rem;
	}

	&__loader {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 3rem 0;
		grid-column: center-start / center-end;
	}
}
